
CITA_website_grid/.DS_Store
bog/.DS_Store
.DS_Store
.DS_Store
.DS_Store
ordFraEnAndensMund/.vscode/settings.json
.DS_Store
.DS_Store
radiohammerslag/.vscode/settings.json
.DS_Store
.DS_Store
.DS_Store
.DS_Store
soundsFromTheMouth/basicMouthPhysics/.vscode/settings.json
.DS_Store
.DS_Store
soundsFromTheMouth/main/.vscode/settings.json
cinekid/matchTheExpression/main1920x1080/.vscode/settings.json
cinekid/matchTheExpression/mainEasierFaster/.vscode/settings.json
cinekid/paintWithYourNoseMediapipeFaceMesh/.vscode/settings.json
.DS_Store
.DS_Store
videoPainterP5js/.vscode/settings.json
.DS_Store
.DS_Store
cinekid/2023/paintWithYourNoseMediapipeFaceMesh2023/.vscode/settings.json
cinekid/2023/paintWithYourNoseMediapipeFaceMeshMultipleUsers2023/.vscode/settings.json
.DS_Store
