@font-face {
  /* Downloaded from axis-praxis.org, font from https://github.com/TypeNetwork/fb-Amstelvar. https://lea.verou.me/files/AmstelvarAlpha-Variations.ttf
  
    local: MutatorSans-weight-only.ttf
    
  
  */
  src: url(Emilie3GX.ttf) 
format("truetype"); 
  font-family:  Whatever; 
}


html,
body {
  margin: 0;
  padding: 0;
  font-family: Whatever;
  font-size: 200px;
  font-variation-settings: "wght" 10;
}
