body{
/*   background-color:silver; */
  /* font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif; */

  
  /* font-family: 'Kalam', normal; */
  font-family: 'Indie Flower', normal;
  /* font-size: 48px; */
  

  margin: 40px;
}


button {
  font-size: 24px;
  margin-right: 15px;
}

a {
  color: black;
}
a:hover{
  font-weight: bold;
}
a:active{
  color: black;
}
a:visited {
  color: black;
}

#hint{
  line-height: 130%;
  margin-top: 20px;
}

.canvas-wrap{
  padding: 5px;
  margin-right: 10px;
  margin-top:20px;
  outline: 1px solid black;
}
.canvas-title{
  padding: 5px;
}
#title{
  font-size:36px;
}
#footer{
  margin-top:50px;
}